body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI';
    color: #ffffff;
    background-color: #46d7ac;;
    padding: 10px 0px;
    /* border-radius: 10px; */
    margin-bottom: 1%;;
}


footer{
    text-align: center;
    font-family: 'Segoe UI';
    color: rgb(247, 247, 247);
    background-color: #46d7ac;
    /* border-radius: 10px; */
    margin-top: 1%;
}

.side-border{

    border-left: 2px solid #46d7ac;

}
.g-3{
    padding: 1.5%;
}
table{
    width: 80%;
}
.tablediv{
    height: 90%;
}
form{
    padding-bottom: 4%;
}